dfu/build
*.swp
*.o
*.cproject
*.project
control-board/software/build
control-board/software/app
control-board/software/3dparty-src/build
st-link-gdb-server-linux
Debug
Release
_temp
projects/ctrl-board/firmware/firmware/build/lst
projects/ctrl-board/firmware/firmware/.dep
projects/ctrl-board/software/build
projects/ctrl-board/software/build.app
build
build.app
lst
obj

